body {
	font-family: 'Roboto';
	font-size: 13px;
	margin: 0px;
	padding: 5px;
}

#messages {
	border: 2px solid rgba(0,0,0,0.1);
	margin: 0;
	margin-bottom: 10px; 
	padding: 0px;
	height: 500px;
	overflow-y: scroll;
}

.user-msg {
	background-color: rgba(0,0,0,0.1);
	border-radius: 15px;
	padding: 5px;
	margin: 5px;
}
